<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="'Устройства сервера ' + ${serverName}">Устройства сервера</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" href="css/style.css">
	
</head>

<body>
	<header>
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h1><a class="navbar-brand" href="index" data-0="line-height:90px;" data-300="line-height:50px;"
								th:text="${serverName}"> Hidayah
							</a></h1>
					</div>
					<div th:replace="templates :: mainMenu"></div>
				</div>
			</div>
		</div>
	</header>
	<!--
  <div class="slider text-center">
    <img src="img/main-bg.png" alt="" />
  </div>
-->
	<!-- column content -->
	<div id="main-content">

		<div class="container">
			<h1>Устройства сервера</h1>
			
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#panelVirtualDevices">Виртуальные устройства</a></li>
			  <li><a data-toggle="tab" href="#panelDevices">Физические устройства</a></li>
			</ul>
			
			<div class="tab-content">
			  <div id="panelVirtualDevices" class="tab-pane fade in active">
			    <p>
					<table th:replace="devices/templates :: VirtualDeviceListTable(devices=${virtualDevices})"></table>
				</p>
			  </div>
			  <div id="panelDevices" class="tab-pane fade">
			    <p>
					<table th:replace="devices/templates :: ItemAbstractListTable(devices=${realDevices})"></table>
				</p>
			  </div>
			</div>
		</div>	
			<!--
									
			<div>
				<table id="devicesTable" class="table table-dark table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Имя</th>
							<th>Прошивка</th>
							<th>Описание</th>
							<th>Состояние</th>
							<th>IP</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="device : ${devices}">
							<td th:text="${device.id}">Id</td>
							<td th:text="${device.name}">Имя</td>
							<td th:text="${device.firmware}">Прошивка</td>
							<td th:text="${device.description}">Описание</td>
							<td th:text="${device.getStateEmoji()} + ' ' + ${device.getStateDescription()}">Состояние
							</td>
							<td th:text="${device.ip}">IP</td>
							<td>
								<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									&#x2699; Админ
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a th:href="@{~/device?id={id}(id=${device.id})}"
									class="btn btn-default">&#x1F4DD;Просмотр</a></li>
									<li><button type="button" class="btn btn-danger" data-toggle="modal"
									th:attr="data-target='#deleteModal' + ${device.id}">&#x274C;Удалить</button></li>
								</ul>
							</div>

								<div class="modal fade" th:id="'deleteModal' + ${device.id}">
									<div class="modal-dialog">
										<div class="modal-content">

											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h4 class="modal-title"
													th:text="'Действительно удалить ?    ' + ${device.description}">
													Действительно удалить ?</h4>
											</div>

											<div class="modal-footer">
											    <a th:href="@{~/deleteDevice_{id}(id=${device.id})}"
													class="btn btn-success">Удалить</a>
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Отменить</button>
											</div>
										</div>
									</div>
								</div>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	-->
	</div>
	<!-- end column content -->
	<footer th:replace="templates :: footer"></footer>

	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/functions.js"></script>
	<script type="text/javascript">
		new WOW().init();
	</script>

</body>

</html>