<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

	<div class="col-md-8" id="mainMenu" th:fragment="mainMenu">
		<div class="dropdown">
			<ul class="nav nav-pills">
				<li><a href="index">Устройства</a></li>
				<li><a href="alarms">Опасности</a></li>
				<li><a href="listChart">Метрики</a></li>
				<li><a href="manage">Управление</a></li>
			</ul>
		</div>
	</div>
	
	<div class="col-md-8" id="mainMenuFull" th:fragment="mainMenuFull">
		<div class="dropdown">
			<ul class="nav nav-pills">
				<li><a th:href="${baseUrl} + '/index'">Устройства</a></li>
				<li><a th:href="${baseUrl} + '/alarms'">Опасности</a></li>
				<li><a th:href="${baseUrl} + '/listChart'">Метрики</a></li>
				<li><a th:href="${baseUrl} + '/manage'">Управление</a></li>
			</ul>
		</div>
	</div>
	
	<div id="link-content-virtual" th:fragment="link-content-virtual">
		<a th:href="@{~/virtual/devices}" class="btn">Устройства</a>
		<a th:href="@{~/virtual/groups}" class="btn">Группы</a>
		<a th:href="@{~/virtual/entities}" class="btn">Датчики</a>
		<a th:href="@{~/virtual/entityFields}" class="btn">Показатели</a>
		<a th:href="@{~/virtual/calculatedEntityFields}" class="btn">Вычислители показателей</a>
	</div>
	
	<table class="table table-dark table-striped" th:fragment="ICalculatedEntityFieldListTable(items, editName)">
		<thead>
			<tr>
				<th>Идентификатор</th>
				<th>Датчик</th>
				<th>Показание</th>
				<th>Описание</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.name}">Идентификатор</td>
				<td th:text="${item.getTargetEntityField().getEntity().getEmojiDescriptionByDescriptionField()}">Датчик</td>
				<td th:text="${item.getTargetEntityField().getEmojiDescriptionByDescriptionField()}">Показание</td>
				<td th:text="${item.description}">Описание</td>
				<td>
					<a th:href="@{~/{url}?id={id}(id=${item.id}, url=${editName})}"
						class="btn btn-default">&#x1F4DD;Редактировать</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-dark table-striped" th:fragment="ItemAbstractListTable(items, editName)">
		<thead>
			<tr>
				<th>Идентификатор</th>
				<th>Описание</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.name}">Идентификатор</td>
				<td th:text="${item.description}">Описание</td>
				<td>
					<a th:href="@{~/{url}?id={id}(id=${item.id}, url=${editName})}"
						class="btn btn-default">&#x1F4DD;Редактировать</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-dark table-striped" th:fragment="ItemAbstractTable(items, chbxName, checkedItemMap)">
		<thead>
			<tr>
				<th></th>
				<th>Наименование</th>
				<th>Описание</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td><input type="checkbox" th:name="${chbxName}"
					th:value="${item.id}" th:checked="${checkedItemMap.containsKey(item.id)}" /></td>
				<td><label
					th:text="${item.name}"></label>
				</td>
				<td><label
					th:text="${item.description}"></label>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-dark table-striped" th:fragment="IEntityFieldTableParent(items, chbxName, parentId)">
		<thead>
			<tr>
				<th></th>
				<th>Наименование</th>
				<th>Датчик</th>
				<th>Описание</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td><input type="checkbox" th:name="${chbxName}"
					th:value="${item.id}" th:checked="${item.id.equals(parentId)}" /></td>
				<td><label
					th:text="${item.name}"></label>
				</td>
				<td><label
					th:text="${item.entity.getEmojiDescriptionByDescriptionField()}"></label>
				</td>
				<td><label
					th:text="${item.description}"></label>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-dark table-striped" th:fragment="ItemAbstractTableParent(items, chbxName, parentId)">
		<thead>
			<tr>
				<th></th>
				<th>Наименование</th>
				<th>Описание</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td><input type="checkbox" th:name="${chbxName}"
					th:value="${item.id}" th:checked="${item.id.equals(parentId)}" /></td>
				<td><label
					th:text="${item.name}"></label>
				</td>
				<td><label
					th:text="${item.description}"></label>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div th:fragment="AlarmState(alarms, item)">
		<div th:if="${alarms.hasAlarms(item)}" th:remove="tag">
<button	th:replace="templates :: AlarmStateButton(text=${alarms.getEmoji(item)},title=${alarms.getHint(item)})"></button>
		</div>
	</div>
	
	<div th:fragment="AlarmStates(alarms, item)">
		<div th:if="${alarms.hasAlarms(item)}" th:each="result : ${alarms.getStateHints(item)}" th:remove="tag">
<button	th:replace="templates :: AlarmStateButton(text=${result.name},title=${result.description})"></button>
		</div>
	</div>
	
	<button th:fragment="AlarmStateButton(text, title)" type="button" class="btn btn-secondary"
		th:text="${text}"
		data-toggle="tooltip"
		th:title="${title}">
	</button>
	
	<table class="table table-dark table-striped" th:fragment="ItemAbstractTableEntityFieldsList(items, chbxName, selectedId)">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Устройство</th>
				<th>Датчик</th>
				<th>Показатель</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td><input type="checkbox" th:name="${chbxName}"
					th:value="${item.id}" th:checked="${item.id.equals(selectedId)}" /></td>
				<td><label
					th:text="${item.name}"></label>
				</td>
				<td><label
					th:text="${item.getEntity().getGroup().getDevice().getDescription()}"></label>
				</td>
				<td><label
					th:text="${item.getEntity().getDescription()}"></label>
				</td>
				<td><label
					th:text="${item.getDescription()}"></label>
				</td>
			</tr>
		</tbody>
	</table>
	
	<th:block th:fragment="headImportsUp">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta th:if="${#vars.containsVariable('refreshTimeout')}" http-equiv="refresh" th:attr="content=${refreshTimeout}">
		<title th:if="${#vars.containsVariable('pageTitle')}" th:text="pageTitle"></title>
		
	    <!-- Bootstrap -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/font-awesome.css" />
		<link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../css/isotope.css" media="screen" />
		<link rel="stylesheet" href="../css/style.css">
	</th:block>
	
	<th:block th:fragment="headImports">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta th:if="${#vars.containsVariable('refreshTimeout')}" http-equiv="refresh" th:attr="content=${refreshTimeout}">
		<title th:if="${#vars.containsVariable('pageTitle')}" th:text="pageTitle"></title>
		
	    <!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
		<link rel="stylesheet" href="css/style.css">
	</th:block>

	<th:block th:fragment="importsUp">
	    <script src="../js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/jquery.isotope.min.js"></script>
		<script src="../js/fancybox/jquery.fancybox.pack.js"></script>
		<script src="../js/wow.min.js"></script>
		<script src="../js/functions.js"></script>
		<script src="../js/pageInit.js"></script>
	</th:block>

	<th:block th:fragment="imports">
	    <script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.isotope.min.js"></script>
		<script src="js/fancybox/jquery.fancybox.pack.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/pageInit.js"></script>
	</th:block>
	
	<header th:fragment="MainPageHeader(url, text)">
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div th:replace="templates :: MainPageText(url=${url}, text=${text})"></div>
					<div th:replace="templates :: mainMenu"></div>
				</div>
			</div>
		</div>
	</header>
	
	<header th:fragment="MainPageHeaderMenuFull(url, text)">
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div th:replace="templates :: MainPageText(url=${url}, text=${text})"></div>
					<div th:replace="templates :: mainMenuFull"></div>
				</div>
			</div>
		</div>
	</header>
	
	<div th:fragment="MainPageText(url, text)"  class="col-md-4">
		<h1><a class="navbar-brand" th:href="${url}" data-0="line-height:90px;" data-300="line-height:50px;"
				th:text="${text}"> Hidayah
			</a>
		</h1>
	</div>

	<footer id="footer" th:fragment="footer">
		<section id="footer" class="section footer">
			<div class="container">
				<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
					<div class="col-sm-12 align-center">
						<ul class="social-network social-circle">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
							</li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row align-center copyright">
					<div class="col-sm-12 text-center">
						<p>Copyright &copy; Hidayah Theme</p>
						<div class="credits">
							<!--
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Hidayah
              -->
							Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<a href="#" class="scrollup"><i class="fa fa-chevron-up"> </i></a>
	</footer>

	<div class="container" id=dateSelector th:fragment="dateSelector">
			<div class="row">
				<div class='col col-lg-3'>
					<div class="form-group">
						<div class='input-group date' id='dateAfter'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<div class='col col-lg-3'>
					<div class="form-group">
						<div class='input-group date' id='dateBefore'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				
				<div class='col col-lg-3'>
					<button class="btn btn-default" onclick="onDateChange();">&#x1F4C6; Обновить</button>
				</div>
			</div>
		</div>

</body>

</html>