<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${entityField.getEntity().getEmoji()} + ${entityField.getEntity().getDescriptionByDescriptionField()}">Устройство</title>

	<th:block th:replace="templates :: headImports" ></th:block>
	
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="chart/Chart.css">
</head>

<body>
<header th:replace="templates :: MainPageHeader(url=${'/device?id=' + device.getId()}, text=${device.getDescription()})"></header>

	<div class="container">

		<h4
			th:text="'Датчик ' + ${entityField.getEntity().getEmoji()} + ${entityField.getEntity().getDescriptionByDescriptionField()}">
			Устройство сервера</h4>

		<p><h4>История значений</h4></p>

		<div th:replace="templates :: dateSelector"></div>

		<canvas id="chart1"></canvas>
	</div>

	<footer th:replace="templates :: footer"></footer>

	<th:block th:replace="templates :: imports"></th:block>

	<script th:inline="javascript">
		/*<![CDATA[*/
			var currentId = /*[[${entityField.getId()}]]*/;
			var redirectPreffix = "/entityField?id=";
		/*]]>*/
	</script>
		
	<th:block th:replace="templates :: importsChart"></th:block>
	
</body>

</html>