<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>&#x1F4CA; Графики</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" href="css/style.css">
	
</head>

<body>
	<header>
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h1><a class="navbar-brand" href="index" data-0="line-height:90px;" data-300="line-height:50px;"
								th:text="'Графики : ' + ${serverName}"> Hidayah
							</a></h1>
					</div>
					<div th:replace="templates :: mainMenu"></div>
				</div>
			</div>
		</div>
	</header>

	<div id="main-content">

		<div class="container">
			<h1>Графики</h1>
			<div>
			
				<a th:href="@{~/editChart?id=0}"
									class="btn btn-default">&#x2795;Новый</a>
			
				<table id="devicesTable" class="table table-dark table-striped">
					<thead>
						<tr>
							<th>Название</th>
							<th>Описание</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="viewChart : ${viewCharts}">
							<td th:text="${viewChart.name}">Название</td>
							<td th:text="${viewChart.description}">Описание</td>
							<td>
								<a th:href="@{~/viewChart?id={id}(id=${viewChart.id})}"
									class="btn btn-default">&#x1F441;Просмотр</a>
								<a th:href="@{~/editChart?id={id}(id=${viewChart.id})}"
									class="btn btn-default">&#x1F4DD;Редактировать</a>
									
								<button type="button" class="btn btn-danger" data-toggle="modal"
									th:attr="data-target='#deleteModal' + ${viewChart.id}">&#x274C;Удалить</button>


								<div class="modal fade" th:id="'deleteModal' + ${viewChart.id}">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h4 class="modal-title"
													th:text="'Действительно удалить ?    ' + ${viewChart.name} + ${viewChart.description}">
													Действительно удалить ?</h4>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
											    <a th:href="@{~/deleteViewChart_{id}(id=${viewChart.id})}"
													class="btn btn-success">Удалить</a>
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Отменить</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<!-- end column content -->
	<footer th:replace="templates :: footer"></footer>

	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/functions.js"></script>
	<script type="text/javascript">
		new WOW().init();
	</script>

</body>

</html>