<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="'Режимы тревоги ' + ${serverName}">Устройства сервера</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" href="css/style.css">
	
</head>

<body>
	<header>
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h1><a class="navbar-brand" href="index" data-0="line-height:90px;" data-300="line-height:50px;"
								th:text="${serverName}"> Hidayah
							</a></h1>
					</div>
					<div th:replace="templates :: mainMenu"></div>
				</div>
			</div>
		</div>
	</header>
	<!-- column content -->
	<div id="main-content">

		<div class="container">
			<h1>Сигналы тревоги</h1>
			<h2 th:text="${itemType}">qqq</h2>
			
			<ul class="nav nav-tabs">
			  <li th:class="${itemType.equalsIgnoreCase('Device')} ? active : ''">
			      <a href="/alarmsList?itemType=Device">Устройство</a></li>
			  <li th:class="${itemType.equalsIgnoreCase('Group')} ? active : ''">
			  	<a href="/alarmsList?itemType=Group">Группа</a></li>
			  <li th:class="${itemType.equalsIgnoreCase('Entity')} ? active : ''">
			  	<a href="/alarmsList?itemType=Entity">Датчик</a></li>
			  <li th:class="${itemType.equalsIgnoreCase('Entity_Field')} ? active : ''">
			  	<a href="/alarmsList?itemType=Entity_Field">Показатель</a></li>
			</ul>
			
			<div class="tab-content">
			  <div id="panelAlarmDevice" th:if="${itemType.equalsIgnoreCase('Device')}" class="tab-pane fade in active">
			    <p>
					<a th:href="@{~/editAlarm?id=0&itemType=Device}" class="btn btn-success">Новый</a>
					
					<table th:replace="alarms/templates :: AlarmsList(alarms=${alarms.get('Device')})"></table>	
				</p>
			  </div>
			  <div id="panelAlarmGroup" th:if="${itemType.equalsIgnoreCase('Group')}" class="tab-pane fade in active">
			    <p>
					<a th:href="@{~/editAlarm?id=0&itemType=Group}" class="btn btn-success">Новый</a>
					
					<table th:replace="alarms/templates :: AlarmsList(alarms=${alarms.get('Group')})"></table>
				</p>
			  </div>
			  <div id="panelAlarmEntity" th:if="${itemType.equalsIgnoreCase('Entity')}" class="tab-pane fade in active">
			    <p>
					<a th:href="@{~/editAlarm?id=0&itemType=Entity}" class="btn btn-success">Новый</a>
					
					<table th:replace="alarms/templates :: AlarmsList(alarms=${alarms.get('Entity')})"></table>
				</p>
			  </div>
			  <div id="panelAlarmEntityField" th:if="${itemType.equalsIgnoreCase('Entity_Field')}" class="tab-pane fade in active">
			    <p>
					<a th:href="@{~/editAlarm?id=0&itemType=Entity_Field}" class="btn btn-success">Новый</a>
					
					<table th:replace="alarms/templates :: AlarmsList(alarms=${alarms.get('Entity_Field')})"></table>
				</p>
			  </div>
			</div>
		</div>
			
	</div>
	<!-- end column content -->
	<footer th:replace="templates :: footer"></footer>

	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/functions.js"></script>
	<script type="text/javascript">
		new WOW().init();
	</script>

</body>

</html>