<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Режимы тревоги сервера</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header>
		<div class="main-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;"
								data-300="line-height:50px;" th:text="${serverName}">
								Hidayah
							</a></h1>

					</div>

					<div class="col-md-8">
						<div class="dropdown">
							<ul class="nav nav-pills">
								<li><a href="index">Устройства</a></li>
								<li class="active"><a href="alarms">Опасности</a></li>
								<li><a href="settings">Настройки</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="main-content">

		<div class="container">
			<h3>оповещения об опасности</h3>
			<div>
				<table id="devicesTable" class="table table-dark table-striped">
					<thead>
						<tr>
							<th>Идентификатор</th>
							<th>Описание</th>
							<th>Проверок</th>
							<th>Статус</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="device : ${devices}">
							<td th:text="${device.name}">Идентификатор</td>
							<td th:text="${device.description}">Описание</td>
							<td th:text="${alarms.get(device.name).getEntityFieldAlarms().size()}">Проверок</td>

							<td th:if="${alarms.get(device.name).getEntityFieldAlarmsWithAlarmDetected().size()==0}">
								<div>&#x2705;</div>
							</td>
							<td	th:unless="${alarms.get(device.name).getEntityFieldAlarmsWithAlarmDetected().size()==0}">
								<div th:each="entityAlarm : ${alarms.get(device.name).getAlarmsWithAlarmDetected()}"
									class="alert alert-danger">

									<strong
										th:text="${entityAlarm.getEntity().getEmoji().toString()} + ' ' + ${entityAlarm.getEntity().getDescription()}">EntityName</strong><br>
									<div th:each="message : ${entityAlarm.getAlarmStartedTextHolder().getMessages()}">
										<label th:text="${message}">message</label><br>
									</div>
								</div>
							</td>

							<td>
								<a th:href="@{~/alarm?id={id}(id=${device.id})}"
									class="btn btn-default">&#x1F4DD;Настроить</a>
									
								<ul class="dropdown-menu">
									<li><a th:href="@{http://{addr}/info(addr=${device.ip})}"
											class="btn">&#x2139; Информация</a></li>
									<li><a th:href="@{http://{addr}/data(addr=${device.ip})}"
											class="btn">&#x1F4DA; Данные</a></li>
									<li><a th:href="@{http://{addr}/update(addr=${device.ip})}"
											class="btn">&#x1F4F2; Прошивка</a></li>
								</ul>	
									
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<footer th:replace="templates :: footer"></footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/functions.js"></script>
	<script src="contactform/contactform.js"></script>

</body>

</html>