<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="templates :: headImports" ></th:block>
</head>

<body>
	<header th:replace="templates :: MainPageHeader(url=${pageUrl}, text=${pageTitle})"></header>

	<!-- column content -->
	<div id="main-content">
	
		<div class="container">
			<div th:replace="devices/templates :: link-content-devicesTabs"></div>
			
			<div th:replace="devices/templates :: DevicesTable(virtual=${virtual}, devices=${devices})"></div>
		</div>	
	</div>
	<!-- end column content -->

	<footer th:replace="templates :: footer"></footer>

	<div th:replace="templates :: imports" th:remove="tag"></div>

</body>

</html>