<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Devices view</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 
<body>
<div class="container">
  <h1 th:text="${device.description}">Устройство сервера</h1>
  <div class="row col-md-7 table-responsive">
    <table id="devicesTable" class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Идентификатор</th>
          <th>Прошивка</th>
          <th>Описание</th>
          <th>Адресс</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td th:text="${device.name}">Идентификатор</td>
	          <td th:text="${device.firmware}">Прошивка</td>
              <td th:text="${device.description}">Описание</td>
              <td th:text="${device.ip}">Адресс</td>
          </tr>
      </tbody>
    </table>
  </div>

  <p>Операции устройства</p>
  <div class="btn-group">
	<a th:href="@{http://{addr}/info(addr=${device.ip})}" class="btn btn-primary">
		&#x2139; info</a>
	<a th:href="@{http://{addr}/data(addr=${device.ip})}" class="btn btn-primary">
		&#x1F4DA; data</a>
	<a th:href="@{http://{addr}/update(addr=${device.ip})}" class="btn btn-primary">
		&#x1F4F2; update</a>
  </div>

	<p>Датчики</p>
	
	<div id="sensorsContent" style="display: flex; flex-wrap: wrap;">
		<div th:each="entity : ${device.getEntities()}" class="panel panel-default" style="width: 400px; float: left; min-width: 300px; margin: 5px;">
		  <div th:text="${entity.description}" class="panel-heading" >Entity Heading</div>
		  <div class="panel-body">Panel Content</div>
		</div>
	</div>
	
</div>