<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Устройства сервера</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 
<body>
<div class="container">
  <h1>Устройства сервера</h1>
  <div class="row col-md-7 table-responsive">
    <table id="devicesTable" class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Идентификатор</th>
          <th>Прошивка</th>
          <th>Описание</th>
          <th>Адресс</th>
		  <th></th>
        </tr>
      </thead>
      <tbody>
         <tr th:each="device : ${devices}">
         	<td th:text="${device.id}">Id</td>
            <td th:text="${device.name}">Идентификатор</td>
	        <td th:text="${device.firmware}">Прошивка</td>
            <td th:text="${device.description}">Описание</td>
            <td th:text="${device.ip}">Адресс</td>
            <td ><a th:href="@{~/devices/device_{id}(id=${device.id})}" class="btn btn-default">&#x1F4DD; Просмотр</a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>