<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

	<tr th:fragment="EmojiRow(emojis, emojiCode)">
		<td>Картинка</td>
		<td>
			<select class="mdb-select md-form" name="emojiCode">
			  <option  th:each="e : ${emojis}" th:selected="${emojiCode.equals(e.getCode())}" th:value="${e.getCode()}" th:text="${e.toString()}">Option 1</option>
			</select>
		</td>
	</tr>
	
	<table class="table table-dark table-striped" th:fragment="VirtualDeviceListTable(devices)">
					<thead>
						<tr>
							<th>Описание</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="device : ${devices}">
							<td>
								<a th:href="@{~/device?id={id}(id=${device.id})}" th:text="${device.getEmoji().toString() + ' '+device.description}"
									class="btn btn-default" >&#x1F4DD;Просмотр</a> 
							</td>
							<td>
								<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									&#x2699; Админ
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a th:href="@{~/device?id={id}(id=${device.id})}"
									class="btn btn-default">&#x1F4DD;Просмотр</a></li>
									<li><button type="button" class="btn btn-default" data-toggle="modal"
									th:attr="data-target='#deleteModal' + ${device.id}">&#x274C;Удалить</button></li>
								</ul>
							</div>

								<div class="modal fade" th:id="'deleteModal' + ${device.id}">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h4 class="modal-title"
													th:text="'Действительно удалить ?    ' + ${device.description}">
													Действительно удалить ?</h4>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
											    <a th:href="@{~/deleteDevice_{id}(id=${device.id})}"
													class="btn btn-success">Удалить</a>
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Отменить</button>
											</div>
										</div>
									</div>
								</div>

							</td>
						</tr>
					</tbody>
				</table>
	
	<table class="table table-dark table-striped" th:fragment="ItemAbstractListTable(devices)">
					<thead>
						<tr>
							<th>Id</th>
							<th>Имя</th>
							<th>Прошивка</th>
							<th>Описание</th>
							<th>Состояние</th>
							<th>IP</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="device : ${devices}">
							<td th:text="${device.id}">Id</td>
							<td th:text="${device.name}">Имя</td>
							<td th:text="${device.firmware}">Прошивка</td>
							<td>
								<a th:href="@{~/device?id={id}(id=${device.id})}" th:text="${device.getEmoji().toString() + ' '+device.description}"
									class="btn btn-default" >&#x1F4DD;Просмотр</a> 
							</td>
							<td th:text="${device.getStateEmoji()} + ' ' + ${device.getStateDescription()}">Состояние
							</td>
							<td th:text="${device.ip}">IP</td>
							<td>
								<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									&#x2699; Админ
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a th:href="@{~/device?id={id}(id=${device.id})}"
									class="btn btn-default">&#x1F4DD;Просмотр</a></li>
									<li><button type="button" class="btn btn-default" data-toggle="modal"
									th:attr="data-target='#deleteModal' + ${device.id}">&#x274C;Удалить</button></li>
								</ul>
							</div>

								<div class="modal fade" th:id="'deleteModal' + ${device.id}">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h4 class="modal-title"
													th:text="'Действительно удалить ?    ' + ${device.description}">
													Действительно удалить ?</h4>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
											    <a th:href="@{~/deleteDevice_{id}(id=${device.id})}"
													class="btn btn-success">Удалить</a>
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Отменить</button>
											</div>
										</div>
									</div>
								</div>

							</td>
						</tr>
					</tbody>
				</table>
				
		<table class="table table-dark table-striped" th:fragment="EntityFieldsAbstractTable(items, chbxName, checkedItemMap)">
			<thead>
				<tr>
					<th></th>
					<th>Устройство</th>
					<th>Группа</th>
					<th>Датчик</th>
					<th>Показатель</th>
					<th>Описание показателя</th>
					<th>Измерение</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}">
					<td><input type="checkbox" th:name="${chbxName}"
						th:value="${item.id}" th:checked="${checkedItemMap.containsKey(item.id)}" /></td>
					<td><label
						th:text="${item.entity.group.device.getDescriptionByDescriptionField()}"></label>
					</td>
					<td><label
						th:text="${item.entity.group.getDescriptionByDescriptionField()}"></label>
					</td>
					<td><label
						th:text="${item.entity.getDescriptionByDescriptionField()}"></label>
					</td>
					<td><label
						th:text="${item.name}"></label>
					</td>
					<td><label
						th:text="${item.getDescriptionByDescriptionField()}"></label>
					</td>
					<td><label
						th:text="${item.measure}"></label>
					</td>
				</tr>
			</tbody>
		</table>

</body>

</html>